/* styles/globals.css */

/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles can go below this */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", Arial, sans-serif !important;
}

.bg_body {
  background-color: var(--bs-body-bg);
}

.gradientBackgroundColor {
  background: rgb(150, 244, 253);
  background: linear-gradient(
    254deg,
    rgba(150, 244, 253, 1) 0%,
    rgba(104, 84, 185, 1) 35%,
    rgba(12, 112, 246, 1) 100%
  );
}

.authInput {
  padding-left: 50px !important;
}

.errorInput {
  border: 1px solid red !important;
  color: red !important;
}
.errorText {
  color: red !important;
}

input:focus {
  outline: none !important; /* Removes the outline */
}
